@page "/local-variable-pattern"
@rendermode InteractiveWebAssembly

<PageTitle>Local Variable Pattern Test</PageTitle>

<h1>Local Variable Pattern Test</h1>

<button class="btn btn-primary" @onclick="TestLocalVariable">Test Local Variable Pattern</button>

@code {
    private void TestLocalVariable()
    {
        var localVar = new ExternalSourceDto { Id = "local-123" };
        
        // Pattern: localVariable.Adapt<Type>()
        var dest = localVar.Adapt<ExternalDestDto>();
    }
}


